* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}


#main {
    height: 100%;
    width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content:center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.shape {
    margin-top: 10px;
    margin-left: 10px;
    height: 200px;
    width: 200px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}

#square:hover{
    background-color: beige;
}

#circle{
    border-radius: 50%;
}

#circle:hover{
    background-color: brown;
}

#diamond{
    rotate: 45deg;
    margin-top: 50px;
}

#diamond:hover{
    background-color: darkblue;
}

#diamond h1{
    rotate: -45deg;
}